DJANGO_SECRET_KEY='django-insecure-v&0-_ko6718&9hlh7z0*-+!uenx^##f8r^6elw@j0d$^sf!fkv'
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS='localhost,127.0.0.1'
OPENAI_API_KEY='sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
